<div style="background-color: white; min-height: 91vh;">
    <div style="padding-top: 10px;">
        <div style="margin-top: 10px;" class="child" *ngFor="let car of cars">
            <div nz-row>
                <div nz-col nzSpan="8">
                    <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;"[src]="car.processedImg" alt="profile"/>

                </div>
                <div nz-col nzSpan="16">
                    <h2 style="cursor:pointer;color: lightblue;">
                        {{car.brand}} - {{car.model}}</h2>

                        <hr>
                        <h5>
                            Price : <b>$${{car.price}}</b> - Availability: <b>$${{car.availability}}</b>
                            - Year : <b>$${{car.year | date: 'yyyy'}}</b>
                        </h5>
                </div>
            </div>
        </div>
    
    
    </div>
</div>
