.custom-navbar {
    background-color: lightblue;
    display: flex;
    justify-content: space-between; /* Align items to the start and end of the flex container */
    align-items: center; /* Center items vertically within the flex container */
    padding: 10px; /* Add padding for better spacing */
  }
  
  .navbar-title a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .nav-links a.active {
    font-weight: bold;
  }
  